#section-video {
  width: 66%;
}
#section-video .horloge.mini {
  font-size: 10.2pt;
  width: 80px;
}
#section-video .horloge.vignette {
  font-size: 12pt;
  width: 110px;
}
#section-video .horloge.medium {
  font-size: 18pt;
  width: 160px;
}
#section-video .horloge.large {
  font-size: 24pt;
  width: 210px;
}
