#section-video {
  position: absolute;
  top:0;
  display:block;
  clear:both;
  border:1px dashed red;
}
#section-video #video {
  position:relative; /* pour le helper de draggable */
}
#section-video .horloge.mini {
  font-size: 10.2pt;
  width: 80px;
}
#section-video .horloge.vignette {
  font-size: 12pt;
  width: 110px;
}
#section-video .horloge.medium {
  font-size: 18pt;
  width: 160px;
}
#section-video .horloge.large {
  font-size: 24pt;
  width: 210px;
}

#section-video div.mark-parts,
#section-video div.mark-parts *
{
  color:white;
  font-size:9.4pt;
  cursor:pointer;
}
#section-video div.mark-parts {
  display:inline-block;
  width:214px;
  height:38px;
  border:1px solid #666666;
  padding-top:3px;

}
#section-video div.mark-parts > span {
  display:block;
  text-align:left;
  padding-left:12px;
}

#section-video div.mark-parts > span.mark-main-part {
  color:palevioletred;
}
#section-video div.mark-parts > span.mark-sub-part {
  color:darkseagreen;
}

#section-video fieldset.time-tools {
  width:500px;
}

.timeline {
  position:relative;
}
.timeline .timeline-cursors {
  position:relative;
  width:100%;
  height:10px;
  background-color:#333333;
  border-style:solid;
  border-color:white;
  border-width:1px 0;
  cursor:pointer;
}
.timeline .timeline-cursors .cursor {
  width:4px;
  height:10px;
  position:absolute;
  left:0px;
}
.timeline .timeline-cursors .cursor.timeline-maincursor {
  background-color:red;
  z-index:20;
}
.timeline .timeline-cursors .cursor.timeline-shadowcursor {
  background-color:#FF8888;
  z-index:19;
}
.timeline span.timeline-horloge {
  position:absolute;
  top:-24px;
  right:0px;
  font-size:11pt;
  font-family:monospace;
  visibility:hidden;
  border:1px solid darkred;
}
.timeline:hover span.timeline-horloge {
  visibility:visible;
}
