#section-video {
  position: absolute;
  top:0;
  display:block;
  clear:both;
  border:1px dashed red;
}
#section-video .horloge.mini {
  font-size: 10.2pt;
  width: 80px;
}
#section-video .horloge.vignette {
  font-size: 12pt;
  width: 110px;
}
#section-video .horloge.medium {
  font-size: 18pt;
  width: 160px;
}
#section-video .horloge.large {
  font-size: 24pt;
  width: 210px;
}

#section-video table.controls {
  float:right;
  text-align:right;
  height:64px;
  background-color:#BBBBBB;
  width:240px;
  border:1px solid black;
}
#section-video table.controls button {
  background-color:inherit;
  color:white;
  border:1px solid grey;
}
#section-video table.controls button:focus {
  outline:none;
}
#section-video table.controls button:active {
  background:green;
  transition-duration:0.4s;
}
#section-video table.controls button.actived {
  background:green;
}

#section-video fieldset.time-tools {
  width:500px;
}

#section-footer {
  position:absolute;
  bottom:0;
  background-color:white;
  padding:1em;
  width:100%;
}
