
.small {
  font-size: 0.75em;
}
.bold {font-weight:bold;}

.fleft {float:left;}
.fright {float:right;}
.left {text-align:left;}
.right {text-align:right;}
.center{text-align:center!important;}

.block {display:block;}
.inline {display:inline-block;}
.inline90 {
  display:inline-block;
  width:90;
}

/* Ça a fonctionné une fois, mais plus après… Je l'impose en dur
button.main-button {
  -webkit-appearance: none;
}
 */

span.horloge, input.horloge {
  font-family: Courier !important;
  background-color: black;
  color: white;
  padding: 0.2em 0.5em;
  display: inline-block;
  text-align: center;
}
input.horloge, input.temps-secondes {
  text-align:center;
}
input.temps-secondes {
  width: 100px;
}
input.horloge.small, input.temps-secondes.small {
  width:100px !important;
  font-size:12.5pt;
}

/* Pour les boutons de classe `BtnPlay` */
button.btnplay {
  unset:all;
  border:0;
  background:transparent;
}
button.btnplay.right {
  margin-left:0.1em;
}
button.btnplay.left {
  margin-right:0.1em;
}
button.btnplay:focus {
  outline:none;
}
button.btnplay,
button.btnplay img
{
  vertical-align:middle;
}

/* SELECT */

/* Un séparateur. Ne contient rien, mais mieux que rien */
select option.separator {
  width:100%;
  height:2px;
  /* background-color:red; ne fonctionne pas */
  /* border:1px solid green; ne fonctionne pas */
  margin-top:0.4em;
  margin-bottom:0.4em;
}
