
/* ---------------------------------------------------------------------
    Définition de l'aspect des events partout
 */

.event {
  padding: 0.2em 0.5em;
  width: 96%;
  clear:both;
  background-color:white;
  border:1px solid transparent;
  margin-bottom:3px;
}

.event.current,
.event.current * {
  background-color:#EEFFEE;
}

/* Quand on le draggue */
.event.myHighlight{
  border:2px solid red;
  z-index: 1000;
}

.survoled, .survoled * {
  background-color:#EEFFEE!important;
}

.event.survoled {
  border:1px dashed green;
}

.event .scene-heading{
  display:block;
  font-weight: bold;
  margin-top: 1em;
  text-decoration: underline;
}
.scene-content { /* sous l'intitulé */
  display:block;
}
.event span.scene-resume {
  display:block;
  font-style:italic;
  margin-left:1em;
}

.event.note {
  font-style:italic;
  /* margin-left:2em; */
  font-size:0.85em;
}

/* Les petits boutons au-dessus de l'event dans le reader */
.event .e-tools {
  display:inline-block;
  text-align:right;
  float:right;
  clear:both;
  font-size: 9.1pt;
  opacity:0.15;
}
.event  .e-tools:hover {
  opacity:1;
}
.event .content {
  clear:both;
}
.event  .horloge {
  background-color:grey;
  font-size: 9.1pt;
}

.event .e-tools button:not(.btnplay) {
  position:relative;
  width:22px;
  height:22px;
  line-height:22px;
  text-align:center;
  vertical-align:middle;
  margin-right:8px;
}
.event .e-tools .btn { /* peut être une img */
  width:16px;
  position:absolute;
  top:2px;
  left:2px;
}

/* --------------------------------------------------------------------- */
/*
  Pour essayer de mettre en forme les events sans utiliser de caractères
  en dehors de leur définition
  Si ces styles fonctionnent bien, il faut les reprendre dans publishing.js
 */
:root{
  --label-font-size:0.88em;
  --label-style:italic;
  --label-color:#999999;
  --label-margin-left:8px;
}

/* Pour marquer la référence de l'élément */
span.ref {
  font-size:0.88em;
  opacity:0.5;
  margin-right:4px;
}
span.ref:after{content:' : '}

span.titre {font-weight:bold;}
span.titre:before{content:"« "}
span.titre:after{content:" » "}

span.quotes {font-weight:bold;}
span.quotes:before{content:"« "}
span.quotes:after{content:" » "}
span.quotes+span.titre:before{all:unset;}
span.quotes+span.titre:after{all:unset;}

span.content{font-style:italic;}
span.content:before{
  content:'• description : ';
  font-size:var(--label-font-size);
  font-style:var(--label-style);
  color:var(--label-color);
  margin-left:var(--label-margin-left);
}

span.setup{}
span.setup:before{
  content:'• installation : ';
  font-size:var(--label-font-size);
  font-style:var(--label-style);
  color:var(--label-color);
  margin-left:var(--label-margin-left);
}
span.exploit{}
span.exploit:before{
  content:'• exploitation: ';
  font-size:var(--label-font-size);
  font-style:var(--label-style);
  color:var(--label-color);
  margin-left:var(--label-margin-left);
}

/* Les procédés */
div.proc {

}

a.lkevent {
  margin-left:12px;
  background-color:#44CC44;
  color:white;
  padding:0 3px;
  font-size:11px;
  cursor:pointer;
}
