#section-reader {
  position:absolute;
  top:0;
  display:block;
  border: 1px dashed green;
  min-height: 600px;
  padding:0;
}
#reader {
  width: 95%;
  max-height: 600px;
  overflow: auto;
  padding:0;
}
#reader .event {
  border: 1px solid green;
  padding: 0.2em 0.5em;
  clear:both;
}

.event span.scene-heading{
  display:block;
  font-weight: bold;
  margin-top: 1em;
  text-decoration: underline;
}
.event span.scene-resume {
  display:block;
  font-style:italic;
  margin-left:1em;
}

#reader .horloge {
  float:right;
  clear:right;
  margin-left:1em;margin-bottom:1em;
  font-size: 9.1pt;
  background-color:grey;
}
