/*
  Tout ce qui concerne le reader
*/

section#section-reader {
  width:      600px;
  min-height: 800px;
}

#reader {
  display:block;
  max-height: 600px;
  background-color:#EEEEFF;
  overflow: auto;
  padding:0;
}
