/*
  Tout ce qui concerne le reader
*/

section#section-reader {
  width:      600px;
  min-height: 800px;
}

#reader {
  display:block;
  width:inherit;
  position:relative;
  max-height: 600px;
  min-height: 600px;
  background-color:#EEEEFF;
  overflow: auto;
  padding:0;
}

#reader .fw-title {
  opacity:0.3;
  position:absolute;
  left:10px;
  right:10px;
  font-style:italic;
  text-align:right;
}
