/* Styles pour la timeline */
#timeline {
  position:fixed;
  border:2px solid;
  left:25px;
  bottom:10px;
  z-index:2000;
}
#timeline #timeline-slider {
  height:20px;
  background-color:#660000;
  width:100%;
}
#timeline #timeline-header {
  min-height:20px;
  width:100%
  background-color:rgba(200,200,255,0.3)
}
