body, body * {
  font-size: 15.1pt;
  font-family:Avenir;
}
body {
  background-color:#BBBBBB;
}

.no-user-selection,
button, select, option, label
{
  -webkit-user-select:none;
}

button.cancel {
  /* all:unset; */
	background-color:#EEEEEE;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	padding:0.4em 1em;
  font-size:1em;
  font-weight:normal;
	text-decoration:none;
  margin-left:0.5em;
}
button.warning {
  /* all:unset; */
	background-color:#eb3a2a;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:0.4em 1em;
  font-size:1em;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
button.warning.small,
button.cancel.small {
  font-size:0.85em;
}
button.main-button {
  /* -webkit-appearance: none; sinon le background ne changera pas */
  all:unset;
  /* background-color: #4CAF50; // Green */
  background-color:#008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* --------------------------------------------------------------------- */
/*
    Note : les largeurs (widths sont définies par UI.setUi )
 */
section#section-video {
  background:black;
  z-index:10;
}

div#right-column {
  position:absolute;
  top:0;
  border: 1px dashed green;
  padding:0;
  background-color:#EEEEEE;
  z-index:10;
}

div#right-column section#section-reader {
  min-height: 600px;
}

section#section-footer {
  position:absolute;
  bottom:0;
  background-color:white;
  padding:1em;
  width:100%;
  z-index:0;
}

/* --------------------------------------------------------------------- */


div#waiting-loop {
  position:fixed;
  top:300px;
  left:40%;
  text-align:center;
  background-color:white;
  max-width:250px;
  padding:1em;
}
img#waiting-loop {
  width:70px;
}
span#waiting-loop-message {
  display:block;
  font-size:11.5pt;
  text-align:center;
}




table.video-controller {
  float:right;
  text-align:right;
  border:3px solid #555555;
  -webkit-user-select:none;
}

/* TABLE DU CONTROLEUR DE VIDÉO */

table.video-controller, table.video-controller * {
  background:#DCDCDC;
}
table.video-controller button {
  border:0;
  border-bottom:3px solid inherit;
  padding:0;
  margin:0;
}
table.video-controller button.controller {
  vertical-align:middle;
  text-align:center;
}
table.video-controller button:focus {
  outline:none;
}

table.video-controller button.main {
  padding-bottom:2px;
  background-color:#CCFFCC;
}
table.video-controller button:active {
  background-color:green;
  /* transition-duration:0.4s; */
}
table.video-controller button.actived {
  background-color:green;
}
table.video-controller button.main img {
  width:40px;
}

table.video-controller button.controller img {
  width:30px;
}

/* TABLE TEMPS COURANT */

table.cont-temps-courants {

}
table.cont-temps-courants td.field-curtime-film {
  visibility:hidden;
}

/* Pour des petits boutons controller, par exemple au-dessus des events */
img.small-btn-controller {
  width:22px;
  vertical-align:middle;
}
