section#section-writer {

}

section#section-writer div.header {
  background-color:#DFDFDF;
  padding:0.2em 1em;
}
section#section-writer div.body {
  padding:1em;
  background-color:white;
}
section#section-writer div.footer {
  background-color:#DFDFDF;
  text-align:right;
  padding-top:3px;
}

section#section-writer div.header span#writer-doc-title,
section#section-writer div.header span#writer-doc-title select,
section#section-writer div.header span#writer-doc-title select option
{
  font-weight:bold;
  font-size:1.11em;
}
section#section-writer div.footer,
section#section-writer div.footer *
{
  font-size:0.85em;
  color:teal;
}
section#section-writer div.footer > label {
  margin-left:24px;
}
section#section-writer div.footer label#writer-message {
  display:inline-block;
  overflow:hidden;
  width:460px;
  background-color:#CCCCCC;
  text-align:left;
  padding:0 8px;
  margin-top:1px;
}

section#section-writer textarea#document-contents {
  width:100%;
  min-height:740px;
  resize:none;
  border-color:#DDDDDD;
}

section#section-writer div#writer-doc-visualizor {
  position:fixed;
  top:0;
  left:0;
  width:400px;
  height: 600px;
  padding:1em;
  border:9px solid teal;
  border-radius:1em;
  background-color:white;
  overflow:auto;
  z-index:20;
}
section#section-writer div#writer-doc-visualizor,
section#section-writer div#writer-doc-visualizor *
{
  font-size:0.8em;
}
