/* STYLE POUR LA PUBLICATION */
@media print {

}

/* --------------------------------------------------------------------- */
/* Pour essai markdown */

#monId { color: pink; font-size: 18pt;}
.maClasse {
  margin-left: 6em;
  width: 200px;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
}

img#premiere_image {
  unset:all;
  /* width: 200px; */
  height: 20px;
  text-align:center;
}

img#deuxieme_image {
  float:left;
  margin-right:4em;
  margin-bottom:4em;
}

/* --------------------------------------------------------------------- */

section#section-cover div#pub-title {
  font-size:2.1em;
  font-weight:bold;
  text-align:center;
}
section#section-cover div#pub-film-title {
  font-size:2.4em;
  font-weight:bold;
  text-align:center;
}

p.pagebreak {
  page-break-after:always;
}


pre.heading {
  all:unset;
  font-family:Arial,Helvetica;
  font-size:13pt;
  font-weight:bold;
}


/* --------------------------------------------------------------------- */

/* === SCÉNIER === */

section#scenier div.scene-heading {
  font-variant:small-caps;
  font-weight:bold;
  margin-top:1.3em;
  margin-bottom:0.3em;
}
:root {
  --number-width:40px;
}
section#scenier div.scene-heading span.scene-numero {
  display:inline-block;
  width:var(--number-width);
  text-align:right;
  /* background-color:#EEFFEE; Pour régler */
}
section#scenier div.scene-heading span.scene-time {
  font-weight:normal;
  font-size:0.85rem;
}
section#scenier div.scene-pitch {
  margin-left:var(--number-width);
  font-style:italic;
}
